@font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto/Roboto-Black.ttf),
}

@font-face {
    font-family: Roboto-med;
    src: url(assets/font/Roboto/Roboto-Medium.ttf),
}

@font-face {
    font-family: Roboto-light;
    src: url(assets/font/Roboto/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-med;
}

.main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #0A0B0A;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    
}

.names :hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.hero-sec {
    width: 100%;
    height: 100%;
    background-color: #0A0B0A;
}

.cards-image {
    background-position: center;
    background-size: cover;
    min-height: 55vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.para-1 {
    letter-spacing: 1.5px;
    font-family: Roboto-light;
    color: #0A0B0A;
}

.color-overlay h1 {
    letter-spacing: 1px;
}

.form {
    width: 100%;
    height: 100%;
    color: white;
}

.form-control {
    border-radius: 0;
    border: 0.2px solid rgb(60, 58, 58);
    background-color: transparent;
}

.form-check-label {
    font-size: 14px;
}

.form-label {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-form {
    background-color: white;
    color: black;
    letter-spacing: 1px;
    border-radius: 0;
}

.btn-form:hover {
    background-color: rgb(137, 94, 78);
    color: white;
}

.footer {
    background-color: #1A191B;
    font-weight: 300;
}

.footer button {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.footer h5 {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.footer p:hover {
    text-decoration: underline;
}

.btn-1:hover {
    background-color: rgb(255, 255, 255);
    color: #0A0B0A;
}

.para {
    color: #aeaeae;
    cursor: pointer;
}

.box-4 li {
    list-style-type: none;
}

.small-footer {
    background-color: #2A292B;
    color: white;
}

.small-footer a {
    color: white;
    text-decoration: none;
}

.btn {
    text-decoration: none;
}

.small-footer div {
    cursor: pointer;
}

.small-footer div:hover {
    text-decoration: underline;
    border-radius: 1px solid white;
}