@font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto/Roboto-Black.ttf),
}

@font-face {
    font-family: Roboto-med;
    src: url(assets/font/Roboto/Roboto-Medium.ttf),
}

@font-face {
    font-family: Roboto-light;
    src: url(assets/font/Roboto/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-med;
}

.main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #0A0B0A;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hero-sec {
    margin-top: 60px;
}

.names :hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.hero-sec {
    width: 100%;
    height: 100%;
    background-color: #0A0B0A;
}

.cards-image {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.cards-image-vid {
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.video-vid {
    position: absolute;
    width: 97%;
    height: 100%;
    /* background-color: aqua; */
}

@media (max-width:980px) {
    .video-vid {
        width: 100%;
        /* background-color: aqua; */
    }
}

video {
    width: 100%;
    min-height: 100%;
}

.video-text h1 {
    letter-spacing: 8px;
}

.none {
    display: none;
}

@media (max-width:1200px) {
    .none {
        display: block;
    }

    .block {
        display: none;
    }
}

.btn-1 {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 0;
    padding: 0.3vw 2.6vw;
    margin-top: 0.5vw;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.btn-1:hover {
    background-color: white;
    color: black;
}

.text-sec {
    width: 100%;
    height: 100%;
    color: white;
    letter-spacing: 1px;
    /* background-color: aqua; */
}

.alone {
    width: 35%;
    height: 100%;
}

.text-sec p {
    font-family: Roboto-light;
}

.meet-sec {
    width: 100%;
    /* background-color: aquamarine; */
}

.meet-img {
    /* width: 150%; */
    height: 100%;
    /* background-color: aqua; */
    cursor: pointer;
}

.meet-img img {
    width: 100%;
    height: 100%;
}

.meet-img img:hover {
    transform: scale(1.04);
    transition: 0.5s ease-in-out;
}

.meet-text {
    width: 100%;
    height: 100%;
    background-color: #191A19;
    color: white;
    cursor: pointer;
}

.meet-text:hover {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

.meet-text p {
    font-family: Roboto-light;
}

.meet-img-1 {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    cursor: pointer;
}

.meet-img-1:hover {
    transform: scale(1.04);
    transition: 0.5s ease;
}

.shop {
    width: 100%;
    height: 100%;
}

.shop p {
    font-family: Roboto-med;
    letter-spacing: 2px;
}

.text-shop h5 {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.text-shop-1 h5 {
    font-family: Roboto-light;
    color: white;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.shop-img {
    cursor: pointer;
}

.shop-img:hover {
    transform: scale(1.04);
    transition: 0.5s ease;
}

.team {
    width: 100%;
    height: 100%;
}

.team p {
    font-family: Roboto-med;
    letter-spacing: 2px;
    font-size: 12px;
}

.shop-img {
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    cursor: pointer;
}

.crousel {
    width: 100%;
    min-height: 40vh;
    background-color: #101010;
}

.text-cro {
    width: 80%;
    height: 100%;
    color: white;
}

.text-cro h1 {
    font-size: 30px;
}

.cards-image-1 {
    background-position: center;
    background-size: cover;
    min-height: 43vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.cards-image-1 {
    font-family: Roboto-light;
}

.rule-sec {
    color: white;
}

.find {
    width: 100%;
    height: 100%;
}

.find-text {
    color: white;
}

.find-text .para {
    color: rgb(157, 157, 157);
}

.btn-2 {
    background-color: white;
    color: black;
    transition: none;
    border: none;
}

.btn-2:hover {
    background-color: rgb(137, 94, 78);
    color: white;
}

.btn-3 {
    transition: none;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 0;
    padding: 0.3vw 2.6vw;
    margin-top: 0.5vw;
    letter-spacing: 1px;
}

.find-text .pary {
    letter-spacing: 1px;
}

.find-text .pary span {
    font-family: Roboto-light;
}

.footer {
    background-color: #1A191B;
    font-weight: 300;
}

.footer button {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.footer h5 {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.footer p:hover {
    text-decoration: underline;
}

.para {
    color: #aeaeae;
    cursor: pointer;
}

.box-4 li {
    list-style-type: none;
}

.small-footer {
    background-color: #2A292B;
    color: white;
}

.small-footer a {
    color: white;
    text-decoration: none;
}

.btn {
    text-decoration: none;
}

.small-footer div {
    cursor: pointer;
}

.small-footer div:hover {
    text-decoration: underline;
    border-radius: 1px solid white;
}